body{
padding: 0; background-image: url(jbareham_201201_ecl1050_goty_2020_top_50_02.0.jpg); 
margin: 0; background-repeat: no-repeat;background-size: 1600px  370px; margin-top: 2cm;} 
ul{
   list-style-type: none;
   background-color:#210e0e;background-position: top; margin-bottom: -3cm;
   color: white; margin: 0px; border-radius: 3cm; border-style:dashed ; border-color: greenyellow;margin-top: 3cm; }
ul li{
 display: inline-block; padding: 30px; transition: 0.2s;
}
ul li:hover{ 
background-color: green;color: red;
}
ul li:hover .dropdown{
display: block; position: absolute;margin-left: -0.6cm;margin-top: 0.55cm;
}
.dropdown ul li{
   display: block; 
}
.dropdown{display: none;

}

.dropdown ul { margin: 0; padding: 0;border-style: solid; border-radius: 0cm; border-color: rgba(99, 30, 210, 0.884);}
.dropdowns{
   display: none; transition-duration: 1s; transition-property: transform;
}
.dropdowns ul{
   margin: 0;padding: 0;border-radius: 0cm;transform: scaleY(23px);
}
 .dropdown li:hover .dropdowns{
      display: block;position: absolute;margin-left: 3.65cm; margin-top:-0.5cm ;}    
      .dropdowns{
      display: none;
   }
   .dropdowns ul li{
      display: block;
   }
ul li :visited .dropdown{
   color: aqua;
}
ul li{
   padding: 20px;
}
.container{
   display: flex; width: 1200px; height: 4500px;align-content: space-around;  border: 0.1cm blue solid;
   margin-left: auto; margin-top: 1cm;margin-right: auto;
   background-size: 1296px 1268px; background-image: url(cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers_181624-9331.jpg);margin-bottom: 10px;flex-flow: wrap; background-repeat: repeat-y;
}
.item{
   width: 377px; box-sizing: border-box;  background-color: black; color: whitesmoke;box-shadow: 0 5px 8px 0px white; margin-left: auto; margin-right: auto; margin-top: -10px; margin-bottom: auto;
   height: 460px; text-transform: capitalize;flex-wrap: wrap;  
}
.container img{
   width: 375px;
   height: 200px;padding-left: -20px; position: relative; transition-duration: 5s;transition-property: width;}
   .container img :hover{
      width: ;
   }
#btn{
   background-color: green; color: wheat; margin-bottom: auto;margin-top: 20px;margin-left: 6.5cm; height: 1cm; font-size: larger;
}
#btn1{
   background-color: green; color: wheat; margin-bottom: auto;margin-top: 40px;margin-left: 6.5cm; height: 1cm; font-size: larger;
}
#head{
  padding-left: 15cm; color: wheat;}
#img{
   padding-left: 17cm;
}  
#back{
  background-image: url(1000_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg); margin-top: 0cm;
}
